body {
max-width: 100%;
overflow-x: hidden;
padding: 80px;
}

img{
  max-width: 200px;
}

.profile-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top:40px;
  
}

.card-body {
  padding: 30px;
  align-items:center;
  
}

.grid-cards {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr 3fr;
  grid-gap: 30px;
  align-items: center;
}

.grid-usercards {
  grid-template-columns: 2fr 2fr;
  padding: 30px;
  display: grid;
  grid-gap: 30px;
  align-items: center;
}

.grid-card-details {
  grid-template-columns: 2fr 2fr;
  padding: 70px;
  display: grid;
  grid-gap: 100px;
  align-items: center;
}

.grid .user-details {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-gap: 35px;
  align-items: center;
}

#header{
  padding: 30px;
}

.navbar {
  background: none;
}

.homepage {
  background: url("/static/img/pokemon_bg.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
