{% extends 'base.html' %}
{% block title %}All Cards{% endblock %}


{% block body %}
  <h1 id="header" style="text-align:center">Pokédex</h1>

  <div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-white">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-black text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Browse by:</span>
                   
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0">
                            <span class="ms-1 d-none d-sm-inline">Type</span>
                        </a>
                    </li>
                    <li>
                        <a href="#submenu1" id="rarity-button" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <span class="ms-1 d-none d-sm-inline">Rarity</span></a>
                        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                          {% for rarity in rarities %}
                            <li class="w-100">
                                <a href="/rarity/{{ rarity.rarity_id }}" id="rarity-links" class="nav-link px-0"> <span class="d-none d-sm-inline">{{ rarity.name }}</span></a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        
  <div class="mx-auto" style="width: 1200px;">
    <div class="col py-5">  
      <div class="grid-cards" id="grid-cards-jsx">
        <!-- {% for card in cards %}
          <a href="/usercards/{{ card.card_id }}"><img src="{{ card.image_path }}" alt="photo">
        {% endfor %} -->
      </div>
    </div>    
  </div>
  <script type="text/jsx" src="/static/js/random_card.jsx"></script>
  <script type="text/javascript" src="/static/js/script.js"></script>
 

</body> 
{% endblock %}