{% extends 'base.html' %}
{% block title %}All Cards{% endblock %}


{% block body %}
  <h1>Pokédex</h1>

    <div class="container">
      <!-- <div class="d-flex align-content-center flex-wrap"> -->
        <div class="rounded mx-auto d-block">
      <div class="row">
      <div class="col-lg-2 col-sm-6">
          <div class="thumbnail"> 
            {% for card in cards %}
            <div class="img-container">
              
              <div class="d-flex align-content-center flex-wrap">
            <a href="/usercards/{{ card.card_id }}"><img src="{{ card.image_path }}" 
              class="gallery-item" alt="gallery"></a>
            </div>
            </div>
            {% endfor %}
          
      </div>
    </div>
  </div>
</div>



  <!-- <section class="gallery min-vh-100">
    <div class="container-lg">
      <div class="row row-cols-3 row-cols-sm-2 row-cols-md-3">
        <div class="col">
          <div class="thumbnail">
            {% for card in cards %}
            <a href="/usercards/{{ card.card_id }}"><img src="{{ card.image_path }}" 
              class="gallery-item" alt="gallery"></a>
            {% endfor %}
          </div>
      </div>
    </div>
  </div>
</div>
</div>
</section> -->
{% endblock %}