{% extends 'base.html' %}
{% block title %}All UserCards{% endblock %}
{% block body %}


{% if card.pokedex_number < 10 %}
<h1 id="header" style="text-align:center"><strong>{{ card.name }} #00{{ card.pokedex_number }}</strong></h1>
{% elif card.pokedex_number < 100 and card.pokedex_number > 9 %}
<h1 id="header" style="text-align:center"><strong>{{ card.name }} #0{{ card.pokedex_number }}</strong></h1>
{% elif card.pokedex_number > 100 %}
<h1 id="header" style="text-align:center"><strong>{{ card.name }} #{{ card.pokedex_number }}</strong></h1>
{% endif %}

  <div class="container">
    <div class="grid-usercards">
      {% for usercard in usercards %}
      {% if usercard.card_id == card.card_id and usercard.sold == False %}
        <div class="usercard" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{{ card.image_path }}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ card.name }}</h5>
                <p class="card-text">{{ card.flavor_text }}</p>
                <p class="card-text"><small class="text-muted">Trainer: {{ usercard.user.name }} </small></p>
                <a class="btn btn-primary" href="/cards/{{ usercard.user_card_id }}" class="card-link">Card Details</a> 
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
  </div> 
  
{% endblock %}