{% extends 'base.html' %}

{% block body %}

    <h2 class="mt-3">{{ usercard.card.pokemon_name }}</h2>

    <div class="row">

        <div class="col-6">
            <img src="/static/img/koffing.png"
                  width="400"
                  height="400">
        </div>

        
        <div class="col-3">
            <div class="card text-center bg-light">
                <div class="card-body">
                    
                    <h5 class="card-title">Price</h5>
                    <div class="card-text">${{ usercard.card.price }}</div>
                    <p></p>
                    <form action="/cart" method="POST">
                      <a class="btn btn-primary" href="/add_to_cart/{{ usercard.user_card_id }}">Add to cart</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="card-details">

        <h3>Card Details</h3>

        <ul>
            <li>Card: {{ usercard.card.card_name }}</li>
            <li>Seller: {{ usercard.user.name }}</li>
        </ul>
    </div>

{% endblock %}
