{% extends 'base.html' %}

{% block body %}

<!-- <h1 id="header" style="text-align:center"><strong>{{ usercard.card.name }}</strong></h1> -->

<div class="container">
    <div class="grid-card-details">
        <div class="row">
            <img src="{{ usercard.card.image_path }}">
        </div>
        <div class="col">
            <h2 id="header" style="text-align:center"><strong>{{ usercard.card.name }}</strong></h2>
            <blockquote class="blockquote">
            <p style="text-align:center">{{ usercard.card.flavor_text }}</p>
        </blockquote>
        <p></p>
            <div class="card text-center bg-light">
                <div class="card-body">
                    <h5 class="card-title">Price</h5>
                        <div class="card-text">${{ usercard.card.price }}</div>
                        <p></p>
                        <form action="/cart" method="POST">
                            <a class="btn btn-primary" href="/add_to_cart/{{ usercard.user_card_id }}">Add to cart</a>
                        </form>
                        </div>
                    </div>
        
       
                    <p></p>
    <div class="card-details">

        <h3>Trainer:</h3>

        <ul>
            <li>Name: {{ usercard.user.name }}</li>
            <li>Contact Info: {{ usercard.user.email }}</li>
        </ul>
    </div>

{% endblock %}
