{% extends 'base.html' %}

{% block body %}
<br>
<h2>Your Cart</h2>

    <table class="table table-striped mt-3">
        <thead>
        <tr>
            <th>Card Name</th>
            <th>Price</th>
            <th>Remove</th>
        </tr>
        </thead>
        <tbody>
        {% if usercard not in shopping_cart %}
        <td>Your shopping cart is currently empty</td>
        {% else %}
            {% for usercard in shopping_cart %}
            <tr>
                <td>{{ usercard.card.name }}</td>
                <td>${{ "%0.2f" | format(usercard.card.price) }}</td>
                <td><a href="/remove/{{ usercard.user_card_id }}">Remove</td>
            </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>

    <h3>Total: ${{ "%0.2f" | format(order_total) }}</h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}