{% extends 'base.html' %}

{% block body %}
<br>
<h1 id="header" style="text-align:center">Check Out</h1>

    <div class="container" id="checkout">
        <div class="grid-card-details">
            <div class="row">
                
            
    <table class="table table-striped mt-3">         
        <thead>
        <tr>
            <th>Card Name</th>
            <th>Price</th>
            <th>Remove</th>
        </tr>
        </thead>
        <tbody>
        {% if not shopping_cart %}
        <td>Your shopping cart is currently empty</td>
        {% else %}
            {% for usercard in shopping_cart %}
            <tr>
                <td>{{ usercard.card.name }}</td>
                <td>${{ "%0.2f" | format(usercard.card.price) }}</td>
                <td><a href="/remove/{{ usercard.user_card_id }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                  </svg></td>
            </tr>
            {% endfor %}
        {% endif %}
    </div>
        </tbody>
    </table>


    <h3>Total: ${{ "%0.2f" | format(order_total) }}</h3>
</row>

<!-- </div> -->
<div class="col">
    <br>

    <div class="card" style="width: 25rem;">
        <div class="card-body">
          <h3 class="card-title">Card Payment</h3>
          <p></p>
          <form action="/checkout" method="POST">
          <h6 class="card-subtitle mb-2 text-muted">Card Number:</h6>
          <input type="text" name="card_number">
          <p></p>
          <h6 class="card-subtitle mb-2 text-muted">Expiration Date:</h6>
          <input type="text" name="exp">
          <p></p>
          <h6 class="card-subtitle mb-2 text-muted">CVV:</h6>
          <input type="text" name="cvv">
          <p></p>
          
          <input type="submit" class="btn btn-large btn-primary"></a>
    
        </form>
        </div>
      </div>

{% endblock %}