{% extends 'base.html' %}
{% block title %}Pocket Trade Homepage{% endblock %}

{% block body %}
<body class="homepage">
  <div class="row">
    <div class="col">
      <div class="homepage-cards">
        <h1 class="display-3" id="homepage-animation-1">Gotta catch 'em all?</h1>
        <h1 class="display-6" id="homepage-animation-2">Start your collection today.</h1>
        <br><br>
        <button id="btnrandom" class="btn btn-warning">Who's that Pokémon?</a>
      </div>
    </div>
    
    <div class="col">
      <div id="homepage-random-cards">
        <div class="random-card-container" id="random-pokemon2" style="max-width: 540px; display:none">
          <div class="row g-0">
            <div class="col-md-4" id="test-img"></div>
            <div class="col-md-8">
              <h5 id="random-title" class="card-title"></h5>
              <p id="random-text" class="card-text"></p>
              <a class="btn btn-danger" id="random-link"></a>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>
<script type="text/javascript" src="/static/js/script.js"></script>
<script type="text/jsx" src="/static/js/random_card.jsx"></script>


</body>
{% endblock %}
