{% extends 'base.html' %}

{% block title %} {{user.name}}'s Cards {% endblock %}

{% block body %}
<h1>{{user.name}}'s Cards</h1>

<row>

</row>
<div class="mx-auto" style="width: 1200px;">
  <div class="col py-5">
    <div class="grid-cards">
  {% for usercard in usercards %}
      <a href="/usercards/{{ card.card_id }}"><img src="/static/img/koffingcard.png" alt="photo"></a>
      <!-- <a href="/usercards/{{ card.card_id }}">{{ card.card_name }}</a> -->
    </div>
  {% endfor %}

{% endblock %}

<p></p>
<p>
  The user email is {{ user.email }}
</p>


<p>
    The user ID is {{ user.user_id }}
  </p>
  


  <p>
    The password is {{ user.password }}
  </p>
  

{% endblock %}




<!-- {% extends 'base.html' %}
{% block title %}My Collection{% endblock %}

{% block body %}
{% if session["user_name"] %}
  <h1>{{ session["user_name"] }}'s Cards</h1>
{% endif %}
        
  <ul>
    {% for usercard in usercards %}
        {% if usercard.user_id == session["user_id"] %}
      <li>
        <a href="/cards/{{ usercard.user_card_id }}">{{ session["user_name"] }} </a>
      </li>
        {% endif %}
    {% endfor %}
  </ul>
{% endblock %} -->