{% extends 'base.html' %}
{% block title %} User Info {% endblock %}
{% block body %}

<!-- User Profile -->
<row>
  <div class="profile-info" style="padding-top:30px;">
    <div class="user-profile text-dark bg-warning mb-3" id="profile-card" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/static/img/jigglypuff_.jpg" id="profile-img"    alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Trainer {{ user.name }}</h5>
            <p class="card-text">Collected Cards: {{ count_of_cards }}</p>
            <p class="card-text"><small class="text-muted">Its magical and cute appeal has many admirers. It is rare and found only in certain areas.</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</row>
<br>

<!-- User's card collection -->
<div class="mx-auto" id="card-collection" style="width: 1200px;">
  <h1 class="display-6" style="padding-top:20px;">Card Collection</h1>
  <div class="col py-5">
    <div class="grid-cards-collection">
        {% for usercard in usercards %}
          {% if usercard.user_id == user.user_id and usercard.sold == False %}
            <a href="/cards/{{ usercard.user_card_id }}"><img src="{{ usercard.card.image_path}}" alt="photo"></a>
          {% endif %}
        {% endfor %}
        {% if not usercards %}
            <h1 class="display-6">Card Collection is empty.</h1>
        {% endif %}
    </div>
  </div>
</div>

{% endblock %}