{% extends 'base.html' %}

{% block title %} User Info {% endblock %}

{% block body %}
<h1>{{ user.name }}'s Cards</h1>


<div class="row">
  <div class="col-6">
    <ul>
      {% for usercard in usercards %}
        {% if usercard.user_id == user.user_id %}
        <div class="flex-container">
          <div class="flex-child poke">
        <!-- <a href="/cards/{{ usercard.user_card_id }}">Sold by: {{ usercard.user.name }} </a> -->
        <a href="/cards/{{ usercard.user_card_id }}"><img src="{{ usercard.card.image_path}}" alt="photo"></a>
          </div>
        {% endif %}
      {% endfor %}
    </ul>
  </div>


  <div class="col-3">
    <div class="card text-left bg-light">
        <div class="card-body">
          <ul>
            {% if user.user_id != session['user_id'] %}
            <li>Seller: {{ user.name }}</li>
            <li>Email: {{ user.email }}</li>
            {% else %}
            <h4>{{ user.name }}</h4>
            <img src="/static/img/jigglypuff.png" width=75%>
            <p></p>
            <h6>Email: {{ user.email }}</h6>
            <h6>Collected Cards: {{ count_of_cards }}</h6>
            
            {% endif %}
            <p></p>
            <p></p>
            <p></p>
          
            
          </ul>
        </div>
    </div>
  </div>
</div>

{% endblock %}