{% extends 'base.html' %}

{% block title %} User Info {% endblock %}

{% block body %}
<h1>{{ user.name }}'s Cards</h1>

<ul>
  {% for usercard in usercards %}
    {% if usercard.user_id == user.user_id %}
    <div class="flex-container">
      <div class="flex-child poke">
    <!-- <a href="/cards/{{ usercard.user_card_id }}">Sold by: {{ usercard.user.name }} </a> -->
    <a href="/cards/{{ usercard.user_card_id }}"><img src="/static/img/koffingcard.png" alt="photo"></a>
      </div>
    {% endif %}
  {% endfor %}
</ul>

<p>
  The user email is {{ user.email }}
</p>


<p>
    The user ID is {{ user.user_id }}
  </p>
  


  <p>
    The password is {{ user.password }}
  </p>
  

{% endblock %}